// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.main-article {
  max-width: 60%;
  margin: 0 auto;
  padding: 0 6rem 0 6rem;
}

.main-article-title {
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 6rem; 
}

.main-article-author {
  margin-bottom: 3rem;
}